* {
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}

.calculator{
    width: 300px;
    height: 450px;
    background-color: #2a2a2a;
    border-radius: 20px;
    box-shadow: 0 5px 20px #111, 0 -2px 18px #666;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5%;
}
.display {
    height: 15%;
    width: 80%;
    margin-top: 5%;
    background-color: #afafaf;
    border-radius: 10px;
    box-shadow: 0 0 10px #F4D35E;
}

.buttons {
    height: 70%;
    width: 80%;
    border-radius: 15px;
    background: #2c2c2c;
    display: grid;
    gap: none;
}
.button {
    margin: 2px;
}
